html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: relative;
  transform: translate(1000px, 90px) rotate(20deg) scale(2);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 10%;
  right: 33%;
  text-align: center;
}

.polaroid:hover {

  transform: translate(1000px, 90px) rotate(0deg) scale(2);
  transition: ease-out 200ms;

}

figure:first-of-type {

  transform: translate(750px, 300px) rotate(-10deg) scale(2);

}

figure:last-of-type {

  transform: translate(1200px, 70px) rotate(10deg) scale(2);

}
